body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    margin: 10rem auto;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 20px rgb(6, 95, 40);
    width: 375px;
    border-radius: 10px;
    position: relative;
}
h2{
    padding: 5px;
    color: rgb(6, 95, 40);
}
.login-form{
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
    width: 350px;
    justify-content: center;
}
input{
    width: 320px;
    padding: 10px;
    border-radius: 5px;
    border-top: none;
    margin-bottom: 20px;
    outline: none;
    font-size: 15px;
}
input:hover{
    border: 1px solid rgb(6, 95, 40);
    box-shadow: 0 0 10px rgb(9, 175, 139);
}


.password{
    position: relative;
}
#icon{
    position: absolute;
    top: 10px;
    left: 91%;

}
.forget{
   position: relative;
}
.arrow{
    color: rgb(6, 95, 40);
    position: absolute;
     top: 23px;
    left: 9px
}
p{
    padding: 3x;
    font-size: 13px;
    margin-bottom: 15px;
}
button{
    border: none;
    background-color: rgb(6, 95, 40);
    padding: 7px;
    color: white;
    border-radius: 7px;
    width: 150px;
    margin-bottom: 5px;
    font-size: 15px;
}
.arrow:hover{
    transition: 0.5s;
    background-color: rgb(25, 230, 104);
    color: white;
    border-radius: 8px;
    padding: 1px;
}
