body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    margin: 10rem auto;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 20px rgb(6, 95, 40);
    width: 375px;
    border-radius: 10px;
    position: relative;
}
h2{
    padding: 5px;
    color: rgb(6, 95, 40);
}
.login-form{
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
    width: 350px;
    justify-content: center;
}
input{
    width: 320px;
    padding: 10px;
    border-radius: 5px;
    border-top: none;
    border: 1px thin green;
    margin-bottom: 20px;
    outline: 1px thin green;
    font-size: 15px;
}
input:hover{
    border: 1px solid rgb(6, 95, 40);
    box-shadow: 0 0 10px rgb(9, 175, 139);
}
button{
    border: none;
    background-color: rgb(6, 95, 40);
    padding: 7px;
    color: white;
    border-radius: 7px;
    width: 90px;
    font-size: 15px;
}
.login-btn{
    color: rgb(6, 95, 40);
}
.password{
    position: relative;
}
#icon{
    position: absolute;
    top: 10px;
    left: 91%;

}
.forget{
    color: rgb(6, 95, 40);
    margin-top: 5px;
    text-decoration: none;
}
.forget:hover{
    box-shadow: 0 0 10px green;
    padding: 3px;
    transition: 1.5s;
}